@charset "UTF-8";


/*--------------------*/
/* Reset
/*--------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: 400;
	font: inherit;
}

fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes:none}
hr,caption,figcaption{display:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
table {border-collapse:collapse;border-spacing:0;table-layout:fixed;}
body {-webkit-text-size-adjust:none}
input[type='text'],input[type='password'],input[type='submit'],input[type='search'],input[type='tel'],input[type='email'],
select {/*-webkit-appearance:none;*/ border-radius:0}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
a {text-decoration:none; color: inherit;}
a:active, a:hover {text-decoration:none}
address,caption,cite,code,dfn,em,i,var {font-style:normal;font-weight:400}
html, body {width:100%; font-size: 16px; font-family:'NotoSans', 'Malgun Gothic', 'Sans-serif'; -webkit-overflow-scrolling: touch; letter-spacing:-0.1px; line-height:1;color:#212121;}
select, button, textarea {font-family:'NotoSans'; letter-spacing:-0.05px;}

input::-ms-clear,
input::-ms-reveal {display: none; width : 0; height: 0;}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }

/*--------------------*/
/* Fonts
/*--------------------*/
@font-face {
	font-family: 'NotoSans';
	font-weight: 200;
	src: url(../fonts/NotoSans-Light.eot);
	src: url(../fonts/NotoSans-Light.eot) format("embedded-opentype"), url(../fonts/NotoSans-Light.woff) format("woff");
  }
  @font-face {
	font-family: 'NotoSans';
	font-weight: 300;
	src: url(../fonts/NotoSans-DemiLight.eot);
	src: url(../fonts/NotoSans-DemiLight.eot) format("embedded-opentype"), url(../fonts/NotoSans-DemiLight.woff) format("woff");
  }
  @font-face {
	font-family: 'NotoSans';
	font-weight: 400;
	src: url(../fonts/NotoSans-Regular.eot);
	src: url(../fonts/NotoSans-Regular.eot) format("embedded-opentype"), url(../fonts/NotoSans-Regular.woff) format("woff");
  }
  @font-face {
	font-family: 'NotoSans';
	font-weight: 500;
	src: url(../fonts/NotoSans-Medium.eot);
	src: url(../fonts/NotoSans-Medium.eot) format("embedded-opentype"), url(../fonts/NotoSans-Medium.woff) format("woff");
  }
  @font-face {
	font-family: 'NotoSans';
	font-weight: 600;
	src: url(../fonts/NotoSans-Medium.eot);
	src: url(../fonts/NotoSans-Medium.eot) format("embedded-opentype"), url(../fonts/NotoSans-Medium.woff) format("woff");
  }
  @font-face {
	font-family: 'NotoSans';
	font-weight: 700;
	src: url(../fonts/NotoSans-Bold.eot);
	src: url(../fonts/NotoSans-Bold.eot) format("embedded-opentype"), url(../fonts/NotoSans-Bold.woff) format("woff");
  }

/*--------------------*/
/* common
/*--------------------*/
.hidden {overflow:hidden;}
.relt {position:relative;}
.absol {position:absolute;}
.blind {position: absolute;clip:rect(0 0 0 0);width: 1px;height:1px;margin:-1px;overflow: hidden;}

/* .color_point {color:#3f74ff !important;} */
.color_333 {color:#333 !important;}
.color_666 {color:#666 !important;}
.color_1d {color:#1d1d1d !important;}
/* .link {color:#3f74ff; text-decoration:underline;} */
.bold {font-weight:bold !important;}
.lheight1{line-height:1 !important;}
.fs24{font-size:24px;line-height:1.6}
.fs18{font-size:18px;line-height:1.6}

.fright {float:right !important;}
.fleft {float:left !important;}

.mt0 {margin-top:0 !important;}	.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}	.mt20 {margin-top:20px !important;} .mt30 {margin-top:30px !important;} .mt35 {margin-top:35px !important;}
.mt50 {margin-top:50px !important;} .mt100 {margin-top:100px !important;}
.mb20 {margin-bottom:20px !important;} .mb30 {margin-bottom:30px !important;} .mb33 {margin-bottom:33px !important;} .mb35 {margin-bottom:35px !important;} .mb40 {margin-bottom:40px !important;}	.mb50 {margin-bottom:50px !important;} .mb100 {margin-bottom:100px !important;}
.pt0 {padding-top:0 !important;}
.pt100 {padding-top:100px !important;}
.pb0 {padding-bottom:0 !important;}	.pb80 {padding-bottom:80px !important;}

.center{text-align:center !important;}
.ellipsis {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}